@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Montserrat:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "DM Sans", sans-serif;
  @apply text-dark-400
}

.gps-icon {
  transition: .5s;
}

.gps-icon:hover {
  color: red;
}

.scroll::-webkit-scrollbar {
  width: 8px;             
}

.scroll::-webkit-scrollbar-track {
  background:#ffc837;        
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #F8F8FF;    
  border-radius: 20px;       
  border: 2px solid #e8e512;  
}

.menu-slideFromTop {
  animation: slideFromTop 0.5s ease-out forwards
}

@keyframes slideFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}